* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --preto: #ffffff;
    --marinho: #0e5394e5;
    --amarelo-claro:#debb0d;
    --roxo-claro:#000000;
    --verde: #fffbaf;
    --azul-claro: #90c9eca4;;
    --branco: #3f6eac;
    --marron-claro: #2947cd;
}